@keyframes reveal
    from
        transform: translateY(2rem)
        +opacity(0)
    to
        transform: translateY(0)
        +opacity(1)

.us
    background: url(../img/us-bg.jpg)
    background-position: left bottom
    background-size: cover
    padding: 2rem
    .content
        +clearfix
        width: rem(700px)
        margin: 0 auto
        padding: 2rem 0
        &.reveal
            animation: reveal 1s ease forwards
        .img
            float: left
            margin-right: 2rem
        .description
            +font-size(26px)
            font-family: 'Playfair Display', serif
            strong
                font-weight: bold
